<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container-header">
    <div class="container-header__top">
        <div class="menu">
            <div class="menu__item"></div>
            <div class="menu__item menu__item_center"></div>
            <div class="menu__item"></div>
        </div>
        <div class="logo container-header__logo">
            <a href="#"><img class="logo__img" src="img/logo.svg" alt=""></a>
        </div>
    </div>
    <div class="container-header__bottom">
        <div class="salon-information">
            NEAREST SALON
            <img class="ico mark" src="img/ico_dropdown.svg" alt="">
            <br>
            Plush Salon 92101
        </div>
        <div class="search container-header__search">
            <img class="ico search__ico" src="img/ico_search.svg" alt="">
        </div>
    </div>
    </div>
</header>
<nav class="navigation">
        <ul class="navigation__menu">
            <% const menu = ['HAIRCARE', 'COLOR', 'STYLING', 'TEXTURE', 'GET INSPIRED','SOCIAL','NEWS','ABOUT','PROFESSIONAL'] %>
            <% menu.forEach(function(item) { %>
            <li class="navigation__item">
                <a href="#" class="navigation__link"><%= item %></a>
            </li>
            <% }); %>
        </ul>
</nav>
<main class="main">
    <div class="location">
        HOME /<span class="red"> VIDEOS</span>
    </div>
    <span class="page-title">VIDEOS</span>
    <div class="title-content">
        <div class="video">
            <a data-fancybox href="https://www.youtube.com/embed/z8M0Fa1JVco?showinfo=0">
                <img class="video__play-button video__play-button_big" src="img/playvideo.png">
                <img class="title-frame" src="https://img.youtube.com/vi/z8M0Fa1JVco/maxresdefault.jpg" alt="">
            </a>
        </div>
        <div class ="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>
    <div class="section-name">STEP <span class="red">BY</span> STEP</div>
    <div class="content">
    <div class="thumb-wrap">
        <% const step = [
            {linkClass:'video__link',link: 'Wi2KcdoCuo4',imgStyle:'video__frame',divClass:'video'},
            {linkClass:'video__link',link: '8H6dYUgQKB8',imgStyle:'video__frame',divClass:'video'},
            {linkClass:'video__link',link: 'PZjGrmHdFME',imgStyle:'video__frame',divClass:'video'},
            {linkClass:'video__link',link: 'DG4FAU5qmMY',imgStyle:'video__frame',divClass:'video video_hide'}
        ]; %>
        <% step.forEach((item) => { %>
        <div class="<%= item.divClass; %>">
            <a class="<%= item.linkClass; %>" data-fancybox href="https://youtu.be/<%= item.link; %>?showinfo=0">
                <img class="video__play-button" src="img/playvideo.png">
                <img class="<%= item.imgStyle; %>" src="https://img.youtube.com/vi/<%= item.link; %>/maxresdefault.jpg" alt="">
            </a>
        </div>
        <% }) %>
    </div>
    </div>
    <div class="load-button"><input class="button" type="button" value="LOAD MORE"></div>
    <div class="section-name">CRAFT <span class="red">EDUCATION</span></div>
   <div class="content">
    <div class="thumb-wrap">
        <% const craft = [
            {linkClass:'video__link',link: 'RmNWNLXmswk',imgStyle:'video__frame',divClass:'video'},
            {linkClass:'video__link',link: '-tztXOz8Vc0',imgStyle:'video__frame',divClass:'video'},
            {linkClass:'video__link',link: 'kUfIVtyydgQ',imgStyle:'video__frame',divClass:'video'},
            {linkClass:'video__link',link: '_wLGr24VeoI',imgStyle:'video__frame',divClass:'video video_hide'}
        ]; %>
        <% craft.forEach((item) => { %>
        <div class="<%= item.divClass; %>">
            <a class="<%= item.linkClass; %>" data-fancybox href="https://youtu.be/<%= item.link; %>?showinfo=0">
                <img class="video__play-button" src="img/playvideo.png">
                <img class="<%= item.imgStyle; %>" src="https://img.youtube.com/vi/<%= item.link; %>/maxresdefault.jpg" alt="">
            </a>
        </div>
        <% }) %>
    </div>
    </div>
    <div class="load-button"><input class="button" type="button" value="LOAD MORE"></div>
    <div class="section-name">INSPIRATION</div>
    <div class="content">
    <div class="thumb-wrap">
        <% const inspiration = [
            {linkClass:'video__link',link: 'VmmwwzR536g', imgStyle:'video__frame',divClass:'video'},
            {linkClass:'video__link',link: '6oPBFnsqJW8', imgStyle:'video__frame',divClass:'video'},
            {linkClass:'video__link',link: '_wLGr24VeoI', imgStyle:'video__frame',divClass:'video'},
            {linkClass:'video__link',link: 'PZjGrmHdFME', imgStyle:'video__frame',divClass:'video video_hide'}
        ]; %>
        <% inspiration.forEach((item) => { %>
        <div class="<%= item.divClass; %>">
            <a class="<%= item.linkClass; %>" data-fancybox href="https://youtu.be/<%= item.link; %>?showinfo=0">
                <img class="video__play-button" src="img/playvideo.png">
                <img class="<%= item.imgStyle; %>" src="https://img.youtube.com/vi/<%= item.link; %>/maxresdefault.jpg" alt="">
            </a>
        </div>
        <% }) %>
    </div>
    <div class="load-button"><input class="button" type="button" value="LOAD MORE"></div>
    </div>
</main>
<footer class="footer">
   <div class="container-footer">
<div class="social">
    <% const social = [
        {title: 'img/ico_facebook.svg', link: '#'},
        {title: 'img/ico_twitter.svg', link: '#'},
        {title: 'img/ico_pinterest.svg', link: '#'},
        {title: 'img/ico_youtube.svg', link: '#'},
        {title: 'img/ico_instagram.svg', link: '#'}
    ]; %>
    <% social.forEach((item) => { %>
    <a class="social__icon" href="<%= item.link; %>"><img class="svg" src="<%= item.title; %>" alt=""></a>
    <% }) %>
</div>
    <div class="information">
        <span class="grey">LOCATION:</span>UNITED STATES
        <br>
        <span class="grey">LANGUEGE:</span>ENGLISH
    </div>
    <div class="support">
        <a class="link" href="#"> PRIVACY POLICY</a> &nbsp;<a href="#" class="link">TERMS OF USE</a> &nbsp;
        <br>
        <a href="#" class="link">CONTACT US</a>
        <a href="#" class="link">NEWSLETTER</a> &nbsp; <a href="#" class="link">SITE MAP</a>
    </div>
    </div>
</footer>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
